//
// Constants
//
$goals-header-background-color: #0000FF;
$goals-header-text-color: #FFFFFF;

$goals-background-text-color: #FFFFFF;
$goals-text-color: #000000;

$goals-table-border-color: #000000;

$section-separator-border-color:#000000;

//
// Button Constants
//
$goals-sign-in-out-button-text-color: #FFFFFF;
$goals-sign-in-button-color: #008000;
$goals-sign-out-button-color: #FF0000;

$create-account-button-color: #008000;
$create-account-button-text: #FFFFFF;
