name: Build Web Site 

# Useful GiHUb Actions Documentation
# - https://docs.github.com/en/actions/writing-workflows/about-workflows
# - https://docs.github.com/en/actions/writing-workflows/workflow-syntax-for-github-actions#about-yaml-syntax-for-workflows
#


# For more information on permissions, please see the following references:
# - https://docs.github.com/en/actions/reference/authentication-in-a-workflow 
# - https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#permissions
# - https://docs.github.com/en/rest/reference/permissions-required-for-github-apps
#
# Note that unspecified permissions are set to none.
permissions: 
  contents: read
  pull-requests: read

# This workflow is meant to be reused by other workflows.  Here is the documentation for reusing GitHub workflows: 
# https://docs.github.com/en/actions/using-workflows/reusing-workflows
on:
  workflow_call:
    
jobs:
  build-web-site-job:
    name: Build Web Site
    runs-on: ubuntu-latest
      
    steps:
      # Action Documentation: https://github.com/actions/checkout?tab=readme-ov-file#checkout-v4
      - name: Get the changed source code
        uses: actions/checkout@v4
        with:
          clean: true

      # Action documentation: https://github.com/marketplace/actions/setup-node-js-environment and https://github.com/actions/setup-node
      - name: Install Node and npm
        uses: actions/setup-node@v4 
        with:
          node-version: 20.x
          check-latest: true

      - name: Build Web Site
        run: npm run build
        working-directory: ./WebSite

      # TODO - Run tests when they are written.

      # Action Documentation: https://github.com/actions/upload-artifact?tab=readme-ov-file#actionsupload-artifact
      - name: Upload Web Site Artifact
        uses: actions/upload-artifact@v4
        with:
          name: GoalsWebSite
          path: WebSite/BuildOutput/
          if-no-files-found: error
          retention-days: 7
          overwrite: false
